<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="gemDetailsForm" novalidate="novalidate">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 *ngIf="isRecordSaved" class="card-title">Edit Gem Details</h4>
                            <h4 *ngIf="!isRecordSaved" class="card-title">Add new Gem Details</h4>
                            <p class="card-category">Complete Gem Details</p>
                        </div>
                        <div class="card-body">
                            <br>
                            <h5>Basic Details</h5>
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="SGTL Report Number" type="text"
                                            formControlName="sgtlReportNumber">
                                        <mat-error *ngIf="formErrors.get('sgtlReportNumber')">
                                            {{formErrors.get('sgtlReportNumber')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date" type="text" formControlName="date" [matDatepicker]="picker">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker (selectedValueChange)="onSelectetValueChange($event)"></mat-datepicker>
                                        <mat-error *ngIf="formErrors.get('date')">
                                            {{formErrors.get('date')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Object" type="text" formControlName="object">
                                        <mat-error *ngIf="formErrors.get('object')">
                                            {{formErrors.get('object')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Gemologist Name" type="text"
                                            formControlName="gemologistName">
                                        <mat-error *ngIf="formErrors.get('gemologistName')">
                                            {{formErrors.get('gemologistName')}}</mat-error>
                                    </mat-form-field> -->
                                </div>
                            </div>
                            <br>
                            <h5>Details of specimen</h5>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Weight" type="text" formControlName="weight">
                                        <mat-error *ngIf="formErrors.get('weight')">{{formErrors.get('weight')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Shape & Cut" type="text"
                                            formControlName="shapeAndCut">
                                        <mat-error *ngIf="formErrors.get('shapeAndCut')">
                                            {{formErrors.get('shapeAndCut')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Transparency" type="text"
                                            formControlName="transparency">
                                        <mat-error *ngIf="formErrors.get('transparency')">
                                            {{formErrors.get('transparency')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Dimensions" type="text"
                                            formControlName="dimensions">
                                        <mat-error *ngIf="formErrors.get('dimensions')">{{formErrors.get('dimensions')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <h5>Tested Data</h5>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Refractive Index" type="text"
                                            formControlName="refractiveIndex">
                                        <mat-error *ngIf="formErrors.get('refractiveIndex')">
                                            {{formErrors.get('refractiveIndex')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Specific gravity" type="text"
                                            formControlName="specificGravity">
                                        <mat-error *ngIf="formErrors.get('specificGravity')">
                                            {{formErrors.get('specificGravity')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Hardness" type="text" formControlName="hardness">
                                        <mat-error *ngIf="formErrors.get('hardness')">{{formErrors.get('hardness')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Optic Character" type="text"
                                            formControlName="opticCharacter">
                                        <mat-error *ngIf="formErrors.get('opticCharacter')">
                                            {{formErrors.get('opticCharacter')}}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Magnification" type="text"
                                            formControlName="magnification">
                                        <mat-error *ngIf="formErrors.get('magnification')">
                                            {{formErrors.get('magnification')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Color" type="text" formControlName="color">
                                        <mat-error *ngIf="formErrors.get('color')">{{formErrors.get('color')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Variety" type="text" formControlName="variety">
                                        <mat-error *ngIf="formErrors.get('variety')">{{formErrors.get('variety')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Species" type="text" formControlName="species">
                                        <mat-error *ngIf="formErrors.get('species')">{{formErrors.get('species')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <br>
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Apex" type="text" formControlName="apex">
                                                <mat-error *ngIf="formErrors.get('apex')">{{formErrors.get('apex')}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Comments" type="text"
                                                    formControlName="comments">
                                                <mat-error *ngIf="formErrors.get('comments')">
                                                    {{formErrors.get('comments')}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <div class="dropdown" *ngIf="signatureList && signatureList.length">
                                                <button href="#" class="btn dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="true">
                                                    Choose Signature
                                                    <b class="caret"></b>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li *ngFor="let sign of signatureList;index as i"><a
                                                            href="javascript:void(0)"
                                                            (click)="selectSignature(sign)">{{sign.signatureName}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6" *ngIf="selectedSignatureName">
                                            <br>
                                            <p>Selected Signature : <span
                                                    class="text-info">{{selectedSignatureName}}</span></p>
                                        </div>
                                        <div class="col-6 col-md-6 text-center" *ngIf="!signatureList">
                                            <i class="material-icons" style="color: orange;">warning</i>
                                            <p class="text-danger">
                                                No Signatures Configured
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3" *ngIf="isRecordSaved&& gemDetailToEdit && displayGemImgFromURL">
                                    <p *ngIf="gemDetailToEdit.isGemImageSaved">Current Gem Image </p>
                                    <img *ngIf="gemImageURL&&gemDetailToEdit.isGemImageSaved" src="{{gemImageURL}}"
                                        alt="Gemstone image" style="width: 150px;height: 150px;" id="gemImageInForm">
                                </div>
                                <div class="col-12 col-md-6 col-lg-3" *ngIf="isRecordSaved">
                                    <p>
                                        <span *ngIf="!displayGemImgFromURL">Current Gem Image </span>
                                        <span *ngIf="gemImagePercentage"
                                            class="text-success">{{gemImagePercentage|number:"2.2-2"}}%</span>
                                    </p>

                                    <ngx-image-uploader [options]="options" (drop)="onDrop($event)"
                                        (change)="selectImage($event)"></ngx-image-uploader>

                                    <mat-error *ngIf="formErrors.get('isGemImageSaved')">
                                        {{formErrors.get('isGemImageSaved')}}
                                    </mat-error>

                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button *ngIf="isRecordSaved" mat-raised-button type="submit" class="btn btn-info"
                                        [disabled]="disableGenBtn" (click)="onClickGenerateReport()">Proceed to Report
                                        Gen</button>
                                </div>
                                <div class="col-md-3">
                                    <button *ngIf="isRecordSaved" mat-raised-button type="submit" class="btn btn-info"
                                        [disabled]="disableGenBtn" (click)="onClickGenerateCard()">Proceed to Card
                                        Gen</button>
                                </div>
                                <div class="col-md-3">
                                    <button *ngIf="isRecordSaved" mat-raised-button type="button"
                                        class="btn btn-warning" (click)="uploadGemImage()">Upload Image</button>
                                </div>
                                <div class="col-md-3">
                                    <button mat-raised-button type="submit" class="btn btn-success"
                                        (click)="preprocessForm()">Save</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>