<div class="card-body table-responsive">
    <table class="table table-hover">
        <thead class="text-warning">
            <th>#</th>
            <th>SGTL ReportNumber</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <tbody *ngIf="gemDetailsList">
            <tr *ngFor="let gemDetail of gemDetailsList; index as i">
                <td>{{i+1}}</td>
                <td>{{gemDetail.sgtlReportNumber}}</td>
                <td>{{gemDetail.date | date : "dd/MM/yyyy"}}</td>
                <td>
                    <button mat-raised-button type="button" (click)="onClickGenNewReportItem(gemDetail)" class="btn btn-info">Edit / Gen</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="!gemDetailsList">
            <tr>
                <td>--</td>
                <td>No gem details Added</td>
                <td>--</td>
                <td>--</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div align=right class="pr-2" *ngIf="gemDetailsList">
        <a class="pagination2 pr-2" type="button" (click)="getPreviousGemDetails(gemDetailsList.length>0?gemDetailsList[0].sgtlReportNumber:previousGemDetailkey)"><i class="material-icons">keyboard_arrow_left</i></a>  <a class="pagination2 " type="button" (click)="getNextGemDetails(gemDetailsList.length>0?gemDetailsList[gemDetailsList.length-1].sgtlReportNumber:'')"><i class="material-icons">keyboard_arrow_right</i></a> 
    </div>
</div>